

/*CODE HEADER*/


}
 
 .selected{
	color: red!important;
 }
 #container_phrase{
	width: 70%;
	margin: 15px auto;
	text-align:center;
	padding: 10px;
	background-color:#f5f5f5;
	color: #cac7c1;
 }
 h1{
	font-size: 25px;
 }
 p#phrase{
	font-family: Georgia, serif;
	font-size: 22px;
	letter-spacing: 0px;
	word-spacing: 2px;
	color: grey;
	font-weight: 400;
	text-decoration: none;
	font-style: italic;
	font-variant: normal;
	text-transform: capitalize;
 }
/*CODE BODY*/
div.contenu-carte{
	margin: auto;
	text-align: center;
	margin-top: 10px;
}
div.contenu-carte h1{
	font-size: 20px;
}

div.row img{
	max-width: 300px;
}

@media screen and (max-width: 900px) {

	div.contenu-carte h1{
	font-size: 16px;
	}
	div.row img{
	max-width: 180px;
}

}

@media screen and (max-width: 600px) {

	div.contenu-carte h1{
	font-size: 14px;
	}

}

@media screen and (max-width: 420px) {

	div.row img{
	max-width: 150px;
	}

}




/*PAGE ADMIN*/

div.bloc{
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;

}

div.interieur{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	text-align: center;
	
	border-bottom:0.5px solid #cac7c1;
	padding-top: 50px;
	padding-bottom: 50px;
}